<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />  
    <!--Webservice for getting userinfo in ads-->
    <add key="WebserviceForUserInfo" value="http://service.wallem.com:6061/api/adsuserinfo/" />

    <!--SSO Login-->
    <add key="login_url" value="http://sso.wallem.com/login" />
    <add key="logout_url" value="http://sso.wallem.com/logout" />
    <add key="callback_path" value="/users/sign_in" />
    <add key="token_key" value="aaid17" />
    <add key="master_server" value="https://sso.wallem.com/api/sso" />
    <add key="backup_server" value="http://sso.wallem.com/api/sso" />
    <add key="appid" value="2F1DD9D3-3E6C-4C71-B426-396C6D8C5330" />      
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--For Debugging-->
    <add key="DebugSystemDate" value="" /> <!--dd-MMM-yyyy-->

    <!--First month of the fiscal year-->
    <add key="FirstMonthOfFY" value="Oct" /> <!--first three letter of the month-->
    
  </appSettings>
   <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="file" />
    </root>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <file value="C:\Github\kpimetrics_ui\KPIMetrics\Logs\" />
      <appendToFile value="true" />
      <rollingStyle value="composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="15MB" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMM\\\\yyyyMMdd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Date %date Module  %type{1}  %method  %level  %message%newline" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="KPIMetrics.App_Code.ExtendedSmtpAppender">
      <to value="llmn@wallem.com" />
      <cc value="glas@wallem.com,kimm@wallem.com,romg@wallem.com,lorh@wallem.com" />
      <from value="no-reply@wallem.com" />
      <subject value="Dev - Error - KPI Metrics" />
      <isBodyHtml value="true" />
      <smtphost value="10.1.99.216" />
      <bufferSize value="1" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionpattern value="%message %newline&lt;br&gt; &lt;br&gt;Module: %logger%newline&lt;br&gt;Thread: %thread%newline&lt;br&gt;NDC: %property{log4net:HostName}  &lt;br&gt;Description: &lt;b&gt;%level&lt;/b&gt;  &lt;br&gt;Module:  %type{1}  %method  %level  &lt;br&gt;Username: %username %newline%newline " />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <!--<sessionState timeout="20" />-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="KPIMetrics" connectionString="data source=SQL6UAT;initial catalog=KPIMetrics;user id=wsmapp;password=pp@msW;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SQL6" connectionString="data source=sql6;initial catalog=DataLake1;user id=wsmapp;password=pp@msW;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>